<template>
  <div id="app">

      <main>
      <header>
          <img alt="logotipo" src="https://www.sunnergy.mx/wp-content/uploads/2018/07/Logo-Sunnergy-ER-2.jpg">
      </header>
      <section>

          <div>
              <button type="button" @click.prevent="clear">Añadir</button>
              <button type="button" @click.prevent="edit">Editar</button>
              <button type="button" @click.prevent="deleteUser">Eliminar</button>
          </div>

          <div>
              <ValidationObserver v-slot="{ invalid, reset }">
                  <form>
                      <div class="label-el_wrapper">
                          <label for="user_name">Nombre:</label>
                          <ValidationProvider :rules="{required: true, max: 50}" v-slot="v">
                                <input id="user_name" name="name" type="text" v-model="user.name" >
                                <span>{{ v.errors[0] }}</span>
                          </ValidationProvider>
                          <input id="user_id" name="user_id" type="hidden" v-model="user.user_id" >
                      </div>
                      <div class="label-el_wrapper">
                          <label for="user_first-surName">Apellidos:</label>
                          <ValidationProvider :rules="{required: true, max: 50}" v-slot="v">
                          <input id="user_first-surName" name="lastname" type="text" v-model="user.lastname" >
                              <span>{{ v.errors[0] }}</span>
                          </ValidationProvider>
                      </div>
                      <div class="label-el_wrapper">

                          <label for="user_cellphoneNumber">Celular:</label>
                          <ValidationProvider :rules="{required: true, max: 50, numeric:true}" v-slot="v">
                          <input id="user_cellphoneNumber" name="phone" type="text" v-model="user.phone" >
                              <span>{{ v.errors[0] }}</span>
                          </ValidationProvider>
                      </div>
                      <div class="label-el_wrapper">
                          <label for="user_email">Correo Electrónico:</label>

                          <ValidationProvider name="Email" :rules="{ required: true, email: true }" v-slot="{ errors }">
                              <input id="user_email" name="email" type="email" v-model="user.email" >
                              <span>{{ errors[0] }}</span>
                          </ValidationProvider>
                      </div>
                      <div class="label-el_wrapper">
                          <label for="user_password">Contraseña:</label>
                          <ValidationProvider :rules="{required: true, max: 50}" v-slot="v">
                          <input id="user_password" name="password" type="password" v-model="user.password">
                              <span>{{ v.errors[0] }}</span>
                          </ValidationProvider>
                      </div>
                      <div class="label-el_wrapper">
                          <label for="role_id">Rol de Usuario:</label>
                          <select id="role_id" name="role_id" v-model="user.role_id">
                              <option value="" selected disabled>Selecciona un rol de usuario...</option>
                              <option v-for="option in events" v-bind:value="option.id" :key="option.id">
                                  {{ option.type }}
                              </option>
                          </select>
                      </div>
                      <input type="submit" @click.prevent="save" :disabled="invalid" value="Guardar">
                  </form>
              </ValidationObserver>
          </div>
          <div>
              <table>
                  <thead>

                  <tr>
                      <th>Seleccionar</th>
                      <th>Nombre</th>
                      <th>Apellidos</th>
                      <th>Celular</th>
                      <th>Correo Electrónico</th>
                      <th>Contraseña</th>
                      <th>Rol de Usuario</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  v-for="user in users"  :key="user.id">
                      <td>
                          <input id="checkbox_1" v-model="user_ids"  type="checkbox" :value="user.id">
                      </td>
                      <td>{{user.name}}</td>
                      <td>{{user.lastname}}</td>
                      <td>{{user.phone}}</td>
                      <td>{{user.email}}</td>
                      <td>XXXXXXXXXX</td>
                      <td>{{getRolname(user.role_id)}}</td>
                  </tr>

                  </tbody>
                  <tfoot></tfoot>
              </table>

          </div>
      </section>
      </main>
  </div>
</template>

<script>

import { ValidationObserver, ValidationProvider, extend } from 'vee-validate';
import * as rules from 'vee-validate/dist/rules';
Object.keys(rules).forEach(rule => {
    extend(rule, rules[rule]);
});

export default {
  name: 'app',
  components: {
      ValidationProvider,
      ValidationObserver
  },
    data () {
        return {
            info: null,
            events: [],
            users: [],
            user_ids: [],
            user: {
                id: 0,
                name: '',
                lastname: '',
                phone:'',
                email:'',
                role_id:1,
                password:''

            }
        }
    },
    mounted () {
      this.getRoles();
      this.getUsers();


    },
    methods:{
      getRolname(id){
          let rol_name='';
          switch(id) {
              case 1:
                  rol_name = 'Administrador'
                  break;
              case 2:
                  rol_name = 'Desarrollador'
                  break;
              case 3:
                  rol_name = 'Cliente'
                  break;
          }
          return rol_name
      },
        getRoles()
        {

            let url = 'http://127.0.0.1:8000/roles';
            this.$http.get(url)
                .then(res => {
                    console.log(res);

                    this.events = []
                    for (var i = res.data.length - 1; i >= 0; i--) {
                        let role = {}
                        let data = res.data[i]
                        role.id = data.id
                        role.type = data.type

                        this.events.push(role)

                    }

                })
        },
        getUsers()
        {

            let url = 'http://127.0.0.1:8000/users';
            this.$http.get(url)
                .then(res => {
                    console.log(res);

                    this.users = []
                    for (var i = res.data.length - 1; i >= 0; i--) {
                        let user = {}
                        let data = res.data[i]
                        user.id = data.id
                        user.name = data.name
                        user.lastname = data.lastname
                        user.phone = data.phone
                        user.email = data.email
                        user.role_id = data.role_id
                        this.users.push(user)
                    }
                })
        },
        save () {
            let url ='http://127.0.0.1:8000/';

            if(this.user.id == 0){
                url += 'users';
                return this.$http.post(url, this.user).then(response => {
                    let data= response;
                    console.log(data);
                    this.getUsers();

                })
            }
            else{
                url += 'users/';
                this.$http.put(url + this.user.id, this.user).then(response => {
                    console.log(response);
                    this.getUsers();
                })
            }

        },
        edit(){
            if (this.user_ids.length >1){
                alert( 'solo puedes seleccionar un Usuario');
                return
            }
            if (this.user_ids.length ==0) {
                alert('Debes seleccionar a un usuario')
                return
            }
            let userselected = this.users.filter(user => user.id == this.user_ids[0]);
            userselected = userselected.pop();

            this.user.id = userselected.id;
            this.user.name = userselected.name;
            this.user.lastname = userselected.lastname;
            this.user.phone = userselected.phone;
            this.user.email = userselected.email;
            this.user.role_id = userselected.role_id
        },
        clear(){
            this.user.id = 0;
            this.user.name = '';
            this.user.lastname = '';
            this.user.phone = '';
            this.user.email = '';
            this.user.password = '';
            this.user.role_id = 1;
        },
        deleteUser(){
            if (this.user_ids.length >1){
                alert( 'solo puedes seleccionar un Usuario');
                return
            }
            if (this.user_ids.length ==0) {
                alert('Debes seleccionar a un usuario')
                return
            }
            let userselected = this.users.filter(user => user.id == this.user_ids[0]);
            userselected = userselected.pop();

            var res = confirm("Deseas eliminar a este usuario ?");
            if (res) {
                let url ='http://127.0.0.1:8000/users/';

                this.$http.delete(url + userselected.id).then(response => {
                    this.getUsers();
                    return response;
                })
            } else {
                console.log("didnt delete")
            }

        }

    }
}
</script>

<style>

* {font-family: sans-serif;}

html, body {
    height: 100%;
    width: 100%;
}

body {margin: 0;}

button,
select,
input[type="submit"] {cursor: pointer;}

button, input[type="submit"] {
    background-color: #9F9F9F;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 0.5rem;
}

main {
    height: auto;
    width: inherit;
}

main > * {box-sizing: border-box;}

main header {
    background-color: #555555;
    border-bottom: thick solid #FFFFFF;
    color: #FFFFFF;
    height: 5rem;
    padding: 1rem;
    width: inherit;
}

main header img {
    display: block;
    height: 100%;
    width: auto;
}

main > section:only-of-type {
    background-color: #777777;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 5rem);
    width: inherit;
}

main > section > div {
    box-sizing: border-box;
    padding: 0.5rem;
}

main > section > div:first-of-type {
    flex-basis: 100%;
    height: 4rem;
    padding: 1rem;
}

main > section > div:first-of-type button {margin-right: 1rem;
    }

main > section > div:nth-of-type(2) {flex-basis: 30%;}

main > section > div:nth-of-type(2) form {
    background-color: #BBBBBB;
    border-radius: 3px;
    box-sizing: border-box;
    height: 100%;
    padding: 1rem;
    width: auto;
}

main > section > div:nth-of-type(2) form > * {margin-bottom: 0.5rem;}

main > section > div:nth-of-type(2) form input[type="submit"]:only-of-type {margin: 0.5rem}

main > section > div:last-of-type {
    display: flex;
    flex-basis: 70%;
    justify-content: center;
    overflow-x: auto;
}

main > section > div:last-of-type table {
    height: auto;
    width: 100%;
}

table {
    border: thin solid #ECECEC;
    border-radius: 3px;
}

table caption {
    color: #285C4D;
    cursor: default;
    font-size: 1.35rem;
    text-align: left;
}

table th, table td {
    padding: 0.5rem;
    text-align: center;
}

table th {
    color: #FFFFFF;
    cursor: default;
}

table thead tr {background-color: #000000;}

table tbody tr:nth-of-type(odd) {background-color: #D9D9D9;}

table tbody tr:nth-of-type(even) {background-color: #BFBFBF;}

div.label-el_wrapper {
    display: flex;
    flex-direction: column;
}

div.label-el_wrapper label {margin-bottom: 0.25rem;}

div.label-el_wrapper > :last-child {
    border-radius: 3px;
    padding: 0.25rem;
}
</style>
